/* Default styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background-image: url('gradient-roadmap-infographic-template-removebg-preview.png');
    
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  
  .GOALS {
    font-size: 5.5rem; /* Changed from 5.5REM to 5.5rem (typo correction and lowercase) */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 20px;
    
  }
  
  h1 {
    margin-top: 0;
  }
  
  
  .profile-picture img {
    border-radius: 50%;
    width: auto;
    height: auto;
    max-width: 150px;
    max-height: 150px;
  }
  
  .links a {
    display: block;
    margin: 10px 0;
    color: #007bff;
    text-decoration: none;
  }
  
  .links a:hover {
    text-decoration: underline;
  }
  
  .info {
    margin: 15px 0;
  }
  
  .expert {
    height: 200px;
    width: 200px;
    background-color: white;
    text-align: center;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 90px;
    border-radius: 25px;
  }
  
  
  
  .skills-choke {
    display: flex;
    gap: 20px; /* Adjusted gap for smaller screens */
    flex-wrap: wrap; /* Added wrap to ensure items wrap on smaller screens */
    justify-content: center; /* Center items horizontally */
    margin-bottom: 50px; /* Reduced margin for smaller screens */
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 100px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropbtn {
    background-color: #007bff;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
  }
  
  .dropdown-content .info,
  .dropdown-content .links a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content .links a:hover {
    background-color: #f1f1f1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #0056b3;
  }
  
  /* Media queries for tablet and mobile screens */
  @media only screen and (max-width: 768px) {
    .expert {
      padding-top: 40px;
      padding-bottom: 60px;
    }
  
    
    
    .skills-choke {
      gap: 10px; /* Adjusted gap for smaller screens */
      margin-bottom: 30px; /* Reduced margin for smaller screens */
    }
  }